schema/src/main/resources/xsd/common/CCV-CommonAggregateComponents-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2010 rel. 3 (x64) (http://www.altova.com) by everis Spain, S.L. (everis Spain, S.L.) -->
<!--
	Core Criterion Vocabulary - Syntax Binding based on OASIS UBL-2.1 
	Version				:	1.0
	Last update		: 	20150918Fr.
	Author				:	Enric Staromiejski <enric.staromiejski.torregrosa@everis.com>
	Project Owner	:	DG GROW, European Commission
	-->
<xsd:schema xmlns="urn:isa:names:specification:ubl:schema:xsd:CCV-CommonAggregateComponents-1" xmlns:ccv="urn:isa:names:specification:ubl:schema:xsd:CCV-CommonAggregateComponents-1" xmlns:cev="urn:isa:names:specification:ubl:schema:xsd:CEV-CommonAggregateComponents-1" xmlns:ccv-cbc="urn:isa:names:specification:ubl:schema:xsd:CCV-CommonBasicComponents-1" xmlns:ccts="urn:un:unece:uncefact:documentation:2" xmlns:cac="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" xmlns:cbc="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:isa:names:specification:ubl:schema:xsd:CCV-CommonAggregateComponents-1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:import namespace="urn:isa:names:specification:ubl:schema:xsd:CCV-CommonBasicComponents-1" schemaLocation="CCV-CommonBasicComponents-1.0.xsd"/>
	<xsd:import namespace="urn:isa:names:specification:ubl:schema:xsd:CEV-CommonAggregateComponents-1" schemaLocation="CEV-CommonAggregateComponents-1.0.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonAggregateComponents-2" schemaLocation="UBL-CommonAggregateComponents-2.1.xsd"/>
	<xsd:import namespace="urn:oasis:names:specification:ubl:schema:xsd:CommonBasicComponents-2" schemaLocation="UBL-CommonBasicComponents-2.1.xsd"/>
	<!-- Element declaration -->
	<xsd:element name="ContextualDependency" type="ContextualDependencyType"/>
	<xsd:element name="Criterion" type="CriterionType"/>
	<xsd:element name="CriterionFulfillmentAffectedParty" type="cac:PartyType"/>
	<xsd:element name="CriterionFulfillmentPeriod" type="cac:PeriodType"/>
	<xsd:element name="CriterionRegulationReference" type="ccv:RegulationType"/>
	<xsd:element name="CriterionRequirement" type="CriterionRequirementType"/>
	<xsd:element name="CriterionResponse" type="CriterionResponseType"/>
	<xsd:element name="EvidenceDocumentReference" type="cac:DocumentReferenceType"/>
	<xsd:element name="EvidenceIssuerParty" type="cac:PartyType"/>
	<xsd:element name="RequiredTypeOfEvidence" type="cev:EvidenceType"/>
	<xsd:element name="ProposedCriterionEvidence" type="cev:EvidenceType"/>
	<!-- Element definition -->
	<xsd:complexType name="ContextualDependencyType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Contextual Dependency</ccts:DictionaryEntryName>
					<ccts:Definition>A class to associate the criterion to any node of the XML instance, included another criterion.</ccts:Definition>
					<ccts:ObjectClass>Contextual Dependency</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ccv-cbc:DependencyTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Contextual Dependency. Dependency Type Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>Code specifying the type of relationship established with the dependent element.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Contextual Dependency</ccts:ObjectClass>
							<ccts:PropertyTerm>Dependency Type Code</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
							<ccts:Examples>(In e-Procurement, this code may specify whether the criterion has to be apploed to a specific lot,to another criterion or to an economic operator).</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:DependencyDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Contextual Dependency. Dependency Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Description of relationship with the dependent element.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Contextual Dependency</ccts:ObjectClass>
							<ccts:PropertyTerm>Dependency Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:DependencyIdentifierReferenceID">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Contextual Dependency. Dependency Identifier Reference. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Reference to the identifier of the object to which the criterion applies.</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Contextual Dependency</ccts:ObjectClass>
							<ccts:PropertyTerm>Dependency Identifier Reference</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
							<ccts:Examples>LOT-20150915-123</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CriterionType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Criterion. Details</ccts:DictionaryEntryName>
					<ccts:Definition>A class to associate a condition that has to be fulfilled.</ccts:Definition>
					<ccts:ObjectClass>Criterion</ccts:ObjectClass>
					<ccts:Examples>(In e-Procurement, a criterion describes a fact that is used by the contracting body to evaluate and compare tenders by economic operators and which will be used in the award decision),</ccts:Examples>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ccv-cbc:CriterionID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion. Criterion Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>A language-independent token, e.g., a number, that allows to identify a criterion uniquely as well as allows to reference the criterion in other documents.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion. Criterion Type Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>Code specifying the type of criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion. Criterion Name. Name</ccts:DictionaryEntryName>
							<ccts:Definition>A short and descriptive name for a criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Name</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Name</ccts:RepresentationTerm>
							<ccts:DataType>Name. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion. Criterion Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>An extended description of the criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CriterionRegulationReference" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion. Criterion Regulation</ccts:DictionaryEntryName>
							<ccts:Definition>The specific piece(s) of regulation(s) where the criterion is specified or mentioned.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Criterion</ccts:ObjectClass>
							<ccts:RepresentationTerm>Criterion Regulation</ccts:RepresentationTerm>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ContextualDependency" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion. Contextual Dependency</ccts:DictionaryEntryName>
							<ccts:Definition>The relationships that this criterion mantains with other objects of the XML instance.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Criterion</ccts:ObjectClass>
							<ccts:RepresentationTerm>Contextual Dependency</ccts:RepresentationTerm>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CriterionRequirement" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion. Criterion Requirement</ccts:DictionaryEntryName>
							<ccts:Definition>Specific requirement(s) applicable to a specific criterion.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Criterion</ccts:ObjectClass>
							<ccts:RepresentationTerm>Criterion Requirement</ccts:RepresentationTerm>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CriterionResponse" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion. Criterion Response</ccts:DictionaryEntryName>
							<ccts:Definition>Response of the addressee of the criterion requirement(s).</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion</ccts:ObjectClass>
							<ccts:RepresentationTerm>Criterion Response</ccts:RepresentationTerm>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CriterionRequirementType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Criterion Requirement. Details</ccts:DictionaryEntryName>
					<ccts:Definition>A class to associate a specific requirement that must be fulfilled by the addressee of a criterion. </ccts:Definition>
					<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ccv-cbc:CriterionRequirementID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Requirement Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>Identifier of the requirement that fulfills an specific criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Requirement Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Requirement Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Description of the requirement that fulfills an specific criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Requirement Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementAmountTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Amount Type Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>Code describing the type of amount that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Amount Type</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementAmountDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Amount Type Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Textual description of the amount that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Amount Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>"Last three years annual turnover"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementQuantityTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Quantity Type Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>Code describing the type of quantity that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Quantity Type</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementQuantityDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Quantity Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Textual description of the quantity that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Quantity Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>"Number of years of experience"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementPercentTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Percent Type Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>Code describing the type of percent that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Percent Type</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementPercentDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Percent Type Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Textual description of the percent that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Percent Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>"Percentage of disabled workers"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementPeriodTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Period Type Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>Code describing the type of period that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Period Type</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementPeriodDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Criterion Period Type Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Textual description of the period that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Period Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>"Yearly"</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementEventTypeCode" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>CriterionEventTypeCode</ccts:DictionaryEntryName>
							<ccts:Definition>Code describing the type of event that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Event Type</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionRequirementEventDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>CriterionEventDescription</ccts:DictionaryEntryName>
							<ccts:Definition>Textual description of the event that the criterion refers to.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Event Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="RequiredTypeOfEvidence" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Required Type Of_ Evidence. Evidence</ccts:DictionaryEntryName>
							<ccts:Definition>Specific type of evidence that will be required to prove that the criterion is fulfilled.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Requirement</ccts:ObjectClass>
							<ccts:PropertyTermQualifier>Required Type Of</ccts:PropertyTermQualifier>
							<ccts:RepresentationTerm>Evidence</ccts:RepresentationTerm>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CriterionResponseType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Criterion Response. Details</ccts:DictionaryEntryName>
					<ccts:Definition>A class to associate the response to a specific criterion requirement.</ccts:Definition>
					<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
					<ccts:Examples>(In eProcurement, a criterion response describes how an economic operators fulfils an specific criterion).</ccts:Examples>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ccv-cbc:CriterionResponseID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Response. Criterion Response Identifier. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>A language-independent token, e.g., a number, that allows to identify a criterion response uniquely as well as allows to reference the criterion response in other documents.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Response Identifier</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionResponseDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Response. Criterion Response Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>A textual description of a criterion response that describes how an economic operators fulfills an specific criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Response Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionFulfillmentIndicator">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Response. Criterion Fulfillment Indicator. Indicator</ccts:DictionaryEntryName>
							<ccts:Definition>Indicates whether the economic operator states that he fulfills the specific criterion (true) or not (false).</ccts:Definition>
							<ccts:Cardinality>1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Fulfillment Indicator</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Indicator</ccts:RepresentationTerm>
							<ccts:DataType>Indicator. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionFulfillmentMotivation">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Response. Criterion Fulfillment Motivation. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Special justification and/or additional information about how the criterion is fulfilled.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Fulfillment Motivation</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
							<ccts:Examples>"This criterion is fulfilled by our subcontracted party ACME, Gbhm. See details in the ACME's ESPD Response."</ccts:Examples>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionFulfillmentAmount" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Response. Criterion Fulfillment Amount. Amount</ccts:DictionaryEntryName>
							<ccts:Definition>Declared amount that fulfills this criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Fulfillment Amount</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Amount</ccts:RepresentationTerm>
							<ccts:DataType>Amount. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionFulfillmentQuantity" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Response. Criterion Fulfillment Quantity. Quantity</ccts:DictionaryEntryName>
							<ccts:Definition>Declared quantity that fulfills this criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Fulfillment Quantity</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Quantity</ccts:RepresentationTerm>
							<ccts:DataType>Quantity. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionFulfillmentPercent" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Response. Criterion Fulfillment Percent. Percent</ccts:DictionaryEntryName>
							<ccts:Definition>Declared percentage that fulfills this criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Fulfillment Percent</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Percent</ccts:RepresentationTerm>
							<ccts:DataType>Percent. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:CriterionFulfillmentDescriptionDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Response. Criterion Fulfillment Affected Party Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Textual description of the affected party by this criterion.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:PropertyTerm>Criterion Fulfillment Affected Party Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ProposedCriterionEvidence" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>ASBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Criterion Requirement. Proposed_ Evidence. Evidence</ccts:DictionaryEntryName>
							<ccts:Definition>Declared document or URL pointing to a document which contain evidences proving that the criterion is fulfilled.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Criterion Response</ccts:ObjectClass>
							<ccts:RepresentationTerm>Evidence</ccts:RepresentationTerm>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="CriterionFulfillmentPeriod" minOccurs="0"/>
			<xsd:element ref="CriterionFulfillmentAffectedParty" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="RegulationType">
		<xsd:annotation>
			<xsd:documentation>
				<ccts:Component>
					<ccts:ComponentType>ABIE</ccts:ComponentType>
					<ccts:DictionaryEntryName>Regulation. Details</ccts:DictionaryEntryName>
					<ccts:Definition>A class to associate a regulation.</ccts:Definition>
					<ccts:ObjectClass>Regulation</ccts:ObjectClass>
				</ccts:Component>
			</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element ref="ccv-cbc:RegulationTitle" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Regulation. Regulation Title. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Title of a regulation.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Regulation</ccts:ObjectClass>
							<ccts:PropertyTerm>Regulation Title</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:RegulationDescription" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Regulation. Regulation Description. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Textual description of the regulation.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Regulation</ccts:ObjectClass>
							<ccts:PropertyTerm>Regulation Description</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:RegulationJurisdictionLevel" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Regulation. Jurisdiction Level Code. Code</ccts:DictionaryEntryName>
							<ccts:Definition>Jurisdictional level of a particular regulation.</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Regulation</ccts:ObjectClass>
							<ccts:PropertyTerm>Regulation Jurisdiction Level</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Code</ccts:RepresentationTerm>
							<ccts:DataType>Code. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:RegulationArticle" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Regulation. Regulation Article. Text</ccts:DictionaryEntryName>
							<ccts:Definition>Textual description of the article of the regulation.</ccts:Definition>
							<ccts:Cardinality>0..n</ccts:Cardinality>
							<ccts:ObjectClass>Regulation</ccts:ObjectClass>
							<ccts:PropertyTerm>Regulation Article</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Text</ccts:RepresentationTerm>
							<ccts:DataType>Text. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element ref="ccv-cbc:RegulationURIID" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<ccts:Component>
							<ccts:ComponentType>BBIE</ccts:ComponentType>
							<ccts:DictionaryEntryName>Regulation. Regulation URI. Identifier</ccts:DictionaryEntryName>
							<ccts:Definition>URI that points to a particular regulation</ccts:Definition>
							<ccts:Cardinality>0..1</ccts:Cardinality>
							<ccts:ObjectClass>Regulation</ccts:ObjectClass>
							<ccts:PropertyTerm>Regulation URI</ccts:PropertyTerm>
							<ccts:RepresentationTerm>Identifier</ccts:RepresentationTerm>
							<ccts:DataType>Identifier. Type</ccts:DataType>
						</ccts:Component>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
